{% extends "layout.html" %}

{% block style %}

{% endblock %}

{% block body %}
{% for game in games %}
{% set title = game[1] %}
{% set names = names_all[loop.index0] %}
{% set scores = scores_all[loop.index0] %}
<div class="container d-flex flex-column align-items-center border border-3 my-5 w-75 pt-3">
<div class="h2 pb-3 glow">{{ title }}</div>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">RANKING</th>
            <th scope="col">USERNAME</th>
            <th scope="col">HISCORE</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
{% for row in scores %}
{% set rank = row[0] %}
{% set user = names[loop.index0][0] %}
{% set score = row[2] %}
        <tr>
            <th scope="row">{{ rank }}</th>
            <td>{{ user }}</td>
            <td>{{ score }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endfor %}
{% endblock %}