{% extends "gamesLayout.html" %}

{% block style %}

{% endblock %}

{% block body %}
    <div class="gameScreen">
        <div class="startGame" data-startGame>
            <p class="spaceStart">PRESS SPACE TO START</p>
            <div>
                <button data-buttonUp>UP</button>
                <div class="buttons">
                <button data-buttonLeft>LEFT</button>
                <button data-buttonDown>DOWN</button>
                <button data-buttonRight>RIGHT</button>
                </div>
            </div>
        </div>
        <div data-gameGrid class="gameGrid"></div>
        <div class="directions">
            <p><span class="green">CHANGE DIRECTION WITH ARROW KEYS</span></p>
            <p>EAT THE <span class="redText">RED</span> APPLES TO GROW</p>
            <p><span class="redText">HIT THE WALL OR BITE YOURSELF...</span></p>
            <p><span class="gradient">GAME OVER!</span></p>
        </div>
    </div>
{% endblock %}